@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Define the font family for the entire project */

.scroll-to-top {
  @apply fixed bottom-8 right-8 bg-gray-700 text-white rounded-full w-12 h-12 flex items-center justify-center opacity-70 transition-opacity transform scale-100 hover:opacity-100 hover:scale-110;
}

.product-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.product-image {
  width: 100%;
  height: auto;
}

.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox-content {
  max-width: 90%;
  max-height: 90%;
}

.expanded-image {
  width: 100%;
  height: auto;
}
